{% extends "base.html" %}
{% block content %}
<div class="container pt-5">
    <h2>Diagnose Patient</h2>
    <!-- <p class="text-info">Hold CTRL key to select multiple symptoms</p> -->
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.symptoms.label(class="form-label font-weight-bold") }}
            {{ form.symptoms(class="form-control", size="10", multiple=True) }}
        </div>
        

        {{ form.submit(class="btn btn-primary") }}
    </form>

</div>
{% endblock %}
